.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}

/* Modo claro por defecto */
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}

.pelicula {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.pelicula img {
    max-width: 150px;
    display: block;
    margin-bottom: 5px;
}

/* Modo oscuro automático según preferencia del sistema */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: white;
    }

    .pelicula {
        border: 1px solid #444;
    }

    .pelicula img {
        filter: brightness(0.9); /* Ajusta imágenes para fondo oscuro */
    }


    /* Contenedor superior */

    .detalle-pelicula {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(165, 3, 3);
    display : flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 9999;
    padding: 20px;
}

.detalle-contenido {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;


    max-width: 900px;
    width: 90%;
    max-height: 80%;

    overflow-y: hidden;
    background-color: #222222e9;
    padding: 20px;
    border-radius: 0%;
    gap: 20px;
}

.detalle-texto {
    flex: 1;
    overflow-y: auto;           /* Scroll SOLO en la parte de texto */
    max-height: 70vh;           /* Se adapta a la ventana */
}

.detalle-imagen img {
    max-width: 250px;
    border-radius: 10px;
}

/* Información adicional */
.list-group-item {
  position: relative; /* referencia para el collapse absoluto */
}

.list-group-item .collapse {
  position: absolute;
  top: 50%; /* ajusta verticalmente según quieras */
  transform: translateY(-50%); /* ajusta verticalmente al centro */
  left: 100%; /* aparece a la derecha del li */
  width: 300px; /* ancho del bloque de info */
  z-index: 1000;
  background-color: #343a40; /* color de fondo */
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none; /* se mostrará con collapse */
}

.list-group-item .collapse.show {
  display: block;
}
}